<div class="container">
  <br /><br />

  <div class="input-group">
    <input
      type="search"
      class="form-control rounded"
      placeholder="Search"
      [(ngModel)] = "product"
      aria-label="Search"
      aria-describedby="search-addon"
    />
    <button type="button" class="btn btn-outline-primary" (click) = "searchTitle()">search</button>
  </div>

  <table  class="table">
    <thead class=""></thead>
    <tbody>
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">btn</th>
          </tr>
        </thead>
        <tbody>
          <tbody>
            <tr *ngFor="let producto of products; let i = index">
              <td>{{producto.product}}</td>
              <td>{{producto.name}}</td>
              <td>{{producto.price}}</td>
              <td>{{producto.size}}</td> 
              <td> <button type="button" class="btn btn-warning" (click)="eliminarProducto(producto._id)">Warning</button></td>  
            </tr>
          </tbody>
      </table>
      <h4 style="text-align:center; margin-top: 10px;" *ngIf="products?.length == 0"></h4>
    </tbody>
  </table>
</div>
